.form {
    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__input {
        font-size: 1.5rem;
        font-weight: 600;
        font-family: inherit;
        color: $color-grey-dark-3;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-grey-dark-3;
        }
        
        &:focus:invalid {
            border-bottom: 3px solid $color-red-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-3;
            font-weight: 600;
        }
    }


    &__label {
        font-size: 1.2rem;
        text-align: start;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
        color: rgb(32, 32, 32);
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}
